{{ define "main" }}
<h3>le list.html de layouts/activités</h3>
  <section class="container mt-4"data-pagefind-ignore>
    <h1 class="display-5 fw-bold mb-4">{{ .Title }}</h1>

    {{ $p := .Paginate .Pages }}

    <div class="list-group list-group-flush">
      {{ range $p.Pages }}
        <div class="list-group-item px-0 border-0 mb-3"> <article class="d-flex align-items-baseline flex-wrap">

            <h2 class="h5 mb-0 me-3">
              <a href="{{ .RelPermalink }}" class="article-title-link">
                {{ .Title }}
              </a>
            </h2>

            <div class="text-muted small">
              <time datetime="{{ .Date }}">
                {{ .Date.Format "02/01/2006" }}
              </time>

              {{ $author := .Params.author | default .Site.Params.author }}
              {{ with $author }}
                <span class="ms-1"> • {{ . }}</span>
              {{ end }}
            </div>

          </article>
        </div>
      {{ end }}
    </div>

    <nav class="mt-5">
      <ul class="pagination">
        {{ if $p.HasPrev }}
          <li class="page-item">
            <a class="page-link" href="{{ $p.Prev.URL }}">←</a>
          </li>
        {{ end }}

        {{ range $p.Pagers }}
          <li class="page-item {{ if eq .PageNumber $p.PageNumber }}active{{ end }}">
            <a class="page-link" href="{{ .URL }}">{{ .PageNumber }}</a>
          </li>
        {{ end }}

        {{ if $p.HasNext }}
          <li class="page-item">
            <a class="page-link" href="{{ $p.Next.URL }}">→</a>
          </li>
        {{ end }}
      </ul>
    </nav>
  </section>
{{ end }}
