<!DOCTYPE html>
<html lang="fr">
<head>
    {{- partialCached "head.html" . .RelPermalink -}}

    {{ $fa := resources.Get "css/fontawesome.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $fa.RelPermalink }}" integrity="{{ $fa.Data.Integrity }}">
</head>

<body class="container py-4">

    {{- partialCached "header.html" . "header-global" -}}

    <main>
        {{- block "main" . }}{{ end -}}
    </main>

    {{- partialCached "footer.html" . "footer-global" -}}

    {{ if ne .Type "contact" }}
        {{- partialCached "floating-contact.html" . "floating" }}
        {{- partialCached "scroll-top.html" . "scroll" }}
    {{ end }}

    {{/* JS commun */}}
    {{ $js := resources.Get "js/scroll-progress.js" | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>

    {{ if eq .Type "contact" }}
        {{ $contactJs := resources.Get "js/contact.js" | minify | fingerprint }}
        <script src="{{ $contactJs.RelPermalink }}" integrity="{{ $contactJs.Data.Integrity }}" defer></script>
    {{ end }}

</body>
</html>
